<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<%= image_tag("ruby.png", :alt => "rss feed", :style => 'width: 40px; position: absolute; left: 60px; top: 6px;') %>
				Ruby on Rails
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="">
					<%= link_to 'Inicio', root_path, method: :get %>
				</li>
				<li>
					<%= link_to 'Acerca de', welcome_about_path, method: :get %>
				</li>
				<li>
					<%= link_to 'Contacto', welcome_contact_path, method: :get %>
				</li>
			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</nav>